@{
    ViewBag.Title = "Create Material Page";
}

<h2>Редактирование материала</h2>

<form id="materialForm">
    <div class="form-group">
        <label for="MaterialName">Название материала</label>
        <input type="text" class="form-control" name="MaterialName">
    </div>
    <input id="create_Button" type="button" value="Создать" />
</form>

<script type="text/javascript">
    $('#create_Button').click(function () {
        $.post("/api/materialRest",
            $("#materialForm").serialize(),
            function (value) {
                $('#contacts').append('<li>' + value.Name + '</li>');
            },
            "json"
        );
    });
</script>