@{
    ViewBag.Title = "Order Page";
}

<script>
    function fillCustomersSelectForm(customers) {
        $("#customerId_Select").text("");
        $.each(customers, function (i) {
            $("#customerId_Select").append("<option value=\"" + this.Id + "\">" + this.CustomerFIO + "</option>");
        });
    }
    function fillWorksSelectForm(works) {
        $("#workId_Select").text("");
        $.each(works, function (i) {
            $("#workId_Select").append("<option value=\"" + this.Id + "\">" + this.WorkName + "</option>");
        });
    }

    $.getJSON("/order/GetCustomers", null, fillCustomersSelectForm);
    $.getJSON("/order/GetWorks", null, fillWorksSelectForm);
</script>

<h2>Редактирование заказа</h2>

<form id="orderForm">
    <div class="form-group">
        <label for="customerId_Select">Имя клиента</label>
        <select class="form-control" name="CustomerId" id="customerId_Select"></select>
    </div>
    <div class="form-group">
        <label for="workId_Select">Название услуги</label>
        <select class="form-control" name="WorkId" id="workId_Select"></select>
    </div>
    <div class="form-group">
        <label for="count_Input">Количество</label>
        <input type="text" class="form-control" name="Count">
    </div>
    <div class="form-group">
        <label for="sum_Input">Сумма</label>
        <input type="text" class="form-control" name="Sum">
    </div>
    <input id="create_Button" type="button" value="Создать" />
</form>

<script type="text/javascript">
        $('#create_Button').click(function () {
            $.post("/api/orderRest",
                $("#orderForm").serialize(),
                function (value) {
                    $('#contacts').append('<li>' + value.Name + '</li>');
                },
                "json"
            );
        });
</script>