@{
    ViewBag.Title = "Order Page";
}

<script>
    function fillCustomersSelectForm(customers) {
        $("#CustomerId_Select").text("");
        $.each(customers, function (i) {
            $("#CustomerId_Select").append("<option>" + this + "</option>");
        });
    }
    function fillWorksSelectForm(works) {
        $("#WorkId_Select").text("");
        $.each(works, function (i) {
            $("#WorkId_Select").append("<option>" + this + "</option>");
        });
    }
</script>

<script>
    $.getJSON("/order/GetCustomers", null, fillCustomersSelectForm);
    $.getJSON("/order/GetWorks", null, fillWorksSelectForm);
</script>

<h2>Редактирование заказа</h2>

<form id="orderForm">
    <div class="form-group">
        <label for="CustomerId_Select">Имя клиента</label>
        <select class="form-control" name="CustomerId" id="CustomerId_Select"></select>
    </div>
    <div class="form-group">
        <label for="WorkId_Select">Название услуги</label>
        <select class="form-control" name="WorkId" id="WorkId_Select"></select>
    </div>
    <div class="form-group">
        <label for="Count">Количество</label>
        <input type="text" class="form-control" name="Count">
    </div>
    <div class="form-group">
        <label for="Sum">Сумма</label>
        <input type="text" class="form-control" name="Sum">
    </div>
    <input id="create_Button" type="button" value="Создать" />
</form>

<script type="text/javascript">
        $('#create_Button').click(function () {
            $.post("/api/orderRest",
                $("#orderForm").serialize(),
                function (value) {
                    $('#contacts').append('<li>' + value.Name + '</li>');
                },
                "json"
            );
        });
</script>