@{
    ViewBag.Title = "Home Page";
}

<h2>Заказы</h2>
<table id="order-table" class="table">
    <thead>
        <tr><th>ФИО клиента</th><th>Услуга</th><th>Количество</th><th>Сумма</th><th>Статус</th><th>Дата создания</th><th>Дата выполнения</th></tr>
    </thead>
    <tbody>
        <tr id="order-list"></tr>
    </tbody>
</table>

<script>
    $(function() {
        $("#refreshOrders_Button").click(function() {
            $.getJSON("/home/Orders", null, fillList);
    });
});
</script>

<script>
    function fillList(orders) {
        $("#order-list").text("");
        $.each(orders, function(i) {
            $("#order-list").append("<td>" + this.CustomerFIO + "</td>");
            $("#order-list").append("<td>" + this.WorkName + "</td>");
            $("#order-list").append("<td>" + this.Count + "</td>");
            $("#order-list").append("<td>" + this.Sum + "</td>");
            $("#order-list").append("<td>" + this.Status + "</td>");
            $("#order-list").append("<td>" + this.DateCreate + "</td>");
            $("#order-list").append("<td>" + this.DateImplement + "</td>");
        });
    }
</script>

<input type="button" id="refreshOrders_Button" value="Обновить" />