@{
    ViewBag.Title = "Order Page";
}

<form id="orderForm">
    <div class="form-group">
        <label for="CustomerFIO">Имя клиента</label>
        <input type="text" class="form-control" name="CustomerFIO">
    </div>
    <div class="form-group">
        <label for="WorkName">Название услуги</label>
        <input type="text" class="form-control" name="WorkName">
    </div>
    <div class="form-group">
        <label for="Count">Количество</label>
        <input type="text" class="form-control" name="Count">
    </div>
    <div class="form-group">
        <label for="Sum">Сумма</label>
        <input type="text" class="form-control" name="Sum">
    </div>
    <input id="create_Button" type="button" value="Создать" />
</form>

<script type="text/javascript">
        $('#create_Button').click(function () {
            $.post("/api/order",
                $("#orderForm").serialize(),
                function (value) {
                    $('#contacts').append('<li>' + value.Name + '</li>');
                },
                "json"
            );
        });
</script>