@{
    ViewBag.Title = "Work Edit Page";
}

<script>
    var materialIndex = 0;
</script>

<h2>Редактирование услуги</h2>

<form action="/work/Post" method="post">
    <div class="form-group">
        <label for="WorkName">Название услуги</label>
        <input type="text" class="form-control" name="model.WorkName">
    </div>
    <div class="form-group">
        <label for="Price">Цена</label>
        <input type="text" class="form-control" name="model.Price">
    </div>
    <table id="materialwork-table" class="table">
        <thead>
            <tr><th></th><th>Название материала</th><th>Количество</th></tr>
        </thead>
        <tbody id="materialwork-list"></tbody>
    </table>
    <input type="submit" value="Save" />
</form>



<script>
    $.getJSON("/material/GetAllMaterials", null, fillMaterialsSelectForm);

    function fillMaterialsSelectForm(materials) {
        $("#materialName_Select").text("");
        $.each(materials, function (i) {
            $("#materialName_Select").append("<option value=\"" + this.Id + "\">" + this.MaterialName + "</option>");
        });
    }
</script>

<div class="modal fade" id="addMaterial_Modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">Редактирование материала</h4>
            </div>
            <div class="modal-body">
                <label for="MaterialName">Название материала</label>
                <select class="form-control" name="MaterialName" id="materialName_Select"></select>

                <label for="MaterialCount">Количество</label>
                <input type="text" class="form-control" id="materialCount_Input" name="MaterialCount">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть окно</button>
                <button type="button" id="addMaterial_Button" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function () {
        $("#addMaterial_Button").click(function () {
            $("#materialwork-list").append(
                "<tr><td><input style=\"border: none; display: none;\" readonly=\"readonly\" type=\"text\" name=\"model.WorkMaterials[" + materialIndex + "].MaterialId\" value=\"" + $("#materialName_Select").val() + "\" /></td>" +
                "<td><input style=\"border: none\" readonly=\"readonly\" type=\"text\" name=\"model.WorkMaterials[" + materialIndex + "].MaterialName\" value=\"" + $("#materialName_Select option:selected").text() + "\" /></td>" +
                "<td><input style=\"border: none\" readonly=\"readonly\" type=\"text\" name=\"model.WorkMaterials[" + materialIndex++ + "].Count\" value=\"" + $("#materialCount_Input").val() + "\" /></td></tr>"
            );
        });
    });
</script>

<button type="button" data-toggle="modal" data-target="#addMaterial_Modal">Добавить материал</button>