@{
    ViewBag.Title = "Home Page";
}

<h2>Клиенты</h2>
<table id="customer-table" class="table">
    <thead>
        <tr><th>ФИО клиента</th></tr>
    </thead>
    <tbody id="customer-list">
    </tbody>
</table>

<script>
    $(function () {
        $("#refreshCustomer_Button").click(function () {
            $.getJSON("/customer/GetAllCustomers", null, fillList);
        });
    });
</script>

<script>
    $(function () {
        $("#createCustomer_Button").click(function () {
            window.open("/customer/EditCustomer", "_self")
        });
    });
</script>

<script>
    function fillList(customers) {
        $("#customer-list").text("");
        $.each(customers, function (i) {
            $("#customer-list").append("<tr><td>" + this.CustomerFIO + "</td></tr>");
        });
    }
</script>

<input type="button" id="createCustomer_Button" value="Создать" />
<input type="button" id="refreshCustomer_Button" value="Обновить" />